{% comment %}
  Customer Register Section
{% endcomment %}

<div class="u-section u-theme-light">
  <div data-wf--spacer--variant="main" class="u-section-spacer w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490 u-ignore-trim"></div>
  <div class="u-container">
    <div class="customer_form u-max-width-medium u-margin-auto">
      <h1 class="u-text-style-h1 u-margin-bottom-6 u-alignment-center">{{ 'customer.register.title' | t }}</h1>

      {%- form 'create_customer' -%}
        {%- if form.errors -%}
          <div class="form_error u-margin-bottom-4">
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}

        <div class="form_group u-margin-bottom-4">
          <label for="FirstName" class="u-text-style-small">{{ 'customer.register.first_name' | t }}</label>
          <input
            type="text"
            name="customer[first_name]"
            id="FirstName"
            class="form_input"
            autocomplete="given-name"
            required
          >
        </div>

        <div class="form_group u-margin-bottom-4">
          <label for="LastName" class="u-text-style-small">{{ 'customer.register.last_name' | t }}</label>
          <input
            type="text"
            name="customer[last_name]"
            id="LastName"
            class="form_input"
            autocomplete="family-name"
            required
          >
        </div>

        <div class="form_group u-margin-bottom-4">
          <label for="Email" class="u-text-style-small">{{ 'customer.register.email' | t }}</label>
          <input
            type="email"
            name="customer[email]"
            id="Email"
            class="form_input"
            autocomplete="email"
            autocapitalize="off"
            required
          >
        </div>

        <div class="form_group u-margin-bottom-4">
          <label for="Password" class="u-text-style-small">{{ 'customer.register.password' | t }}</label>
          <input
            type="password"
            name="customer[password]"
            id="Password"
            class="form_input"
            autocomplete="new-password"
            required
          >
        </div>

        <button type="submit" class="button_main_wrap u-width-full" data-wf--button-main--variant="primary" data-button=" ">
          <div class="button_main_element">
            <div class="button_main_text u-text-style-small">{{ 'customer.register.submit' | t }}</div>
            <div class="button_main_line"></div>
          </div>
        </button>
      {%- endform -%}

      <div class="u-alignment-center u-margin-top-6">
        <p class="u-text-style-main">已有帳戶？</p>
        <a href="{{ routes.account_login_url }}" class="u-text-style-main u-weight-medium">{{ 'customer.login.sign_in' | t }}</a>
      </div>
    </div>
  </div>
  <div data-wf--spacer--variant="main" class="u-section-spacer w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490 u-ignore-trim"></div>
</div>

{% schema %}
{
  "name": "Customer Register",
  "settings": []
}
{% endschema %}
